body {
    font: Tahoma,Verdana,sans-serif;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: maroon;}

#fivecol {
   margin:10
}

#left {
   float:left;
   width:20%;
   font-size:80%;
}

#center1 {
   float:left;
   width:20%;
   font-size:80%;
}

#center2 {
   float:left;
   width:20%;
   font-size:80%;
}
#center3 {
   float:left;
   width:20%;
   font-size:80%;
}

#right {
   float:left;
   width:20%;
   font-size:80%;
}

#normal {
    float:right;
    width: 98%;
}
